div.header
    div.commonWrapper
        a(href="#")
            img.header__logo(src="/assets/logo__light.svg")
        div.header__links
            a.header__links__item(href="#") О нас
            a.header__links__item(href="#") Куда сходить?
            a.header__links__item(href="#") Акции и события
            a.header__links__item(href="#") Детям
            a.header__links__item(href="#") Кино
            a.header__links__item(href="#") Контакты
